langchain
langchain-community
openai
tiktoken
faiss-cpu
pypdf
python-dotenv
streamlit
pymodbus==2.5.3
prometheus-client
pandas
numpy
python-dotenv
loguru
langchain-ollama
plotly
langchain-text-splitters
pytest